.trailsText {
  font-family: "Bebas Neue";
  position: relative;
  width: 100%;
  height: 72px;
  line-height: 80px;
  color: #162938;
  font-size: 5.50rem;
  font-weight: 500;
  will-change: transform, opacity;
  overflow: hidden;
  margin-bottom: 8px;
}

.trailsText>div {
  overflow: hidden;
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: left;
}