/* .title{
  animation-duration: 0.8s;
  animation-name: animate-title;
  animation-fill-mode: forwards;
}
@keyframes animate-title {
  0% {
    filter: blur(8px);
    transform: translateY(64px);
  }

  100% {
    filter: blur(0px);
    transform: translateY(0px);
  }
} */

/* .box {
  animation-duration: 0.6s;
  animation-name: animate-box;
  animation-fill-mode: forwards;
}
@keyframes animate-box {
  0% {
    filter: blur(8px);
    transform: translateY(64px);
  }

  100% {
    filter: blur(0px);
    transform: translateY(0px);
  }
}


.text{
  animation-duration: 0.6s;
  animation-name: animate-text;
  animation-fill-mode: forwards;
}
@keyframes animate-text {
  0% {
    filter: blur(8px);
    transform: translateY(64px);
  }

  100% {
    filter: blur(0px);
    transform: translateY(0px);
  }
} */

.animation-cards-left {
  animation: fadeLeft linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 30%;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-128px);
    filter: blur(8px);
  }

  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate();
  }
  100% {
    transform: translate();
    filter: blur(0px);
  }
}

.animation-cards-right {
  animation: fadeRight linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 30%;
}

@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(128px);
    filter: blur(8px);
  }

  to {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translate();
  }
  100% {
    transform: translate();
    filter: blur(0px);
  }
}

.animation-cards-left-two{
  animation: fadeRightTwo linear both;
  animation-timeline: view();
  animation-range: entry 5% cover 40%;
}

@keyframes fadeRightTwo {
  from {
    opacity: 0;
    transform: translateX(-128px);
    filter: blur(16px);
  }

  to {
    opacity: 1;
  }

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translate();
  }

  100% {
    transform: translate();
    filter: blur(0px);
  }
}



