/* < blur-slide-effect @KEYFRAMES */

/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
    filter: blur(64px);
  }

  100% {
    transform: translateX(0%);
    filter: blur(0);
  }
}

.blur-effect-doughnut-chart-left {
  animation: slideInFromLeft 0.1s ease-out forwards;
}


@keyframes slideInFromRight {
  0% {
    transform: translateX(15%);
    filter: blur(64px);
  }

  100% {
    transform: translateX(0%);
    filter: blur(0);
  }
}

.blur-effect-doughnut-chart-right {
  animation: slideInFromRight 0.1s ease-out forwards;
} */

/* blur-slide-effect > */