*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url(./assets/bg.jpg);
  background-size: cover;
  height: 100vh;
}

/*TextField-Error*/
.textfield-error label {
  color: rgb(235, 68, 17);
  transition: 150ms;
}

.allLinks{
  text-decoration: none;
  display: inline-block;
}

.logo{
  position: absolute;
  bottom: 0;
  left: 0;
}

