*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root {
  --hue: 199;
  --principal: hsl(var(--hue) 91% 50% / 1);
  --secundario: hsl(var(--hue) 71% 70% / 1);
  --resalto: hsl(calc(var(--hue) - 180) 91% 50% / 1);
  --negro: hsl(var(--hue) 21% 20% / 1);
  --blanco: hsl(var(--hue) 21% 98% / 1);
  --gris: hsl(var(--hue) 21% 80% / 1);
  --error: hsl(7deg 91% 50% / 1)
} */

/*16px*/

/* body {
  font-family: 'Wix Madefor Display', sans-serif;
  font-weight: 400;
  line-height: 1.75;
} */

/*  */

body{
  /* background-image: url(./assets/);
  background-size: cover;
  background-position: center;
  height: 100vh; */
  background-color: #D0E4E9;
}

.navbar{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

/*TextField-Error*/
.textfield-error label {
  color: rgb(235, 68, 17);
}

.allLinks{
  text-decoration: none;
  display: inline-block;
}

.allLinksMenu{
  text-decoration: none;
}

/* .logo{
  position: absolute;
  bottom: 0;
  left: 0;
} */


