/* < login-button */

.to-login{
  color: #d1d1d6;
  background-color: #162938;
  transition: 0.2s;
}

.to-login:hover{
  color: #162938;
  background-color: #D0E4E9;
  box-shadow: 0 6px 0 0 #162938;
}

/* login-button > */

/* < blur-slide-effect @KEYFRAMES */

/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-20%);
    filter: blur(64px);
  }
    
  100% {
    transform: translateX(0%);
    filter: blur(0);
  }
}
.blur-effect {
  animation: slideInFromLeft 0.2s ease-out forwards;
} */

/* blur-slide-effect > */
