/* < login-button */

.to-login {
  color: #d0e4e9;
  background-color: #162938;
  transition: 0.2s;
}

.to-login:hover {
  color: #162938;
  background-color: #d0e4e9;
  box-shadow: 0 6px 0 0 #162938;
}

.container-grid{
  background: #162938;
}

.container-grid div{
  background:#d0e4e9;
  border-radius: 32px;
}

.dahsboard-section{
 margin: auto; 
 max-width: 72vw;
 animation: up-movement linear both;
 animation-timeline: view();
 animation-range: entry 5% cover 32%;

  & span{
   color: #367588;
  }
}

@keyframes up-movement{
  from{
    opacity: 0.5;
    transform: translateY(128px);
  }
  to{
    opacity: 1;
    transform: translateY(0px);
  }
}

.fx-movement{
  animation: in-left-movement linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 48%;
}

@keyframes in-left-movement {
  from {
    opacity: 0;
    transform: translateX(64px);
  }

  to {
    opacity: 0.2;
    transform: translateX(0px);
  }
}

.text-testimonial-animation{
  animation: text-testimonial-movement linear both;
  animation-timeline: view();
  animation-range: entry 50% cover 40%;
}

@keyframes text-testimonial-movement {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.photo-how-it-works-sections{
  background: #162938;
  background-image: url(../../assets/svg/probando03.svg);
  background-size: cover;
  background-position: right;
}

.img-how-it-works{
  border-radius: 64px;
}

.logos-carrousel{
  background: #162938;
}

.testimonials-section{
  margin: 128px 32px;
  border: 2px solid #162938;
  padding: 16px;
  border-radius: 16px;

  & strong{
    font-weight: 600;
    letter-spacing: 1px;
    color: #367588;
  }
}

.user-testimonial-picture{
  border-radius: 32px;
  margin-top: 32px;
}

















