/* < login-button */

.to-login {
  color: #d0e4e9;
  background-color: #162938;
  transition: 0.2s;
}

.to-login:hover {
  color: #162938;
  background-color: #d0e4e9;
  box-shadow: 0 6px 0 0 #162938;
}

/* .split-background-colors{
  background-image: linear-gradient( #bbd2d800 40%, #162938 25%);
} */

.container-grid{
  background: #162938;
}

.container-grid div{
  background:#d0e4e9;
  border-radius: 32px;
}
